In [7]:
from tkinter import*
t=Tk()
t.geometry("1500x800+0+0")


#menu section
#company and model name
def companyname():
    company=e1.get()
    if company=='TATA':
        tata1=Label(t,text="Model name in TATA \n we have only this model:",font="times 18")
        tata1.place(x=600,y=400)
        
        tata2=Label(t,text="1.Tata Nexon")
        tata2.place(x=600,y=480)
        
            
        tata3=Label(t,text="2.Tata Tiago")
        tata3.place(x=600,y=500)
        tata4=Label(t,text="3.Tata Altroz")
        tata4.place(x=600,y=520)
        tata5=Label(t,text="4.Tata Harrier")
        tata5.place(x=600,y=540)
        tata6=Label(t,text="5.Tata Hexa")
        tata6.place(x=600,y=560)
        
    elif company=='HYUNDAI':
        hyundai1=Label(t,text="Model name in HYUNDAI \n we have only this model:",font="times 18")
        hyundai1.place(x=600,y=400)
        hyundai2=Label(t,text="1.Santro")
        hyundai2.place(x=600,y=480)
        hyundai3=Label(t,text="2.Verna")
        hyundai3.place(x=600,y=500)
        hyundai4=Label(t,text="3.Kona")
        hyundai4.place(x=600,y=520)
        hyundai5=Label(t,text="4.Auro")
        hyundai5.place(x=600,y=540)
        hyundai6=Label(t,text="5.Grand_io")
        hyundai6.place(x=600,y=560)
        
        
    elif company=='SUZUKI':
        suzuki1=Label(t,text="Model name in SUZUKI \n we have only this model:",font="times 18")
        suzuki1.place(x=600,y=400)
        suzuki2=Label(t,text="1.Vitara Brezza")
        suzuki2.place(x=600,y=480)
        suzuki3=Label(t,text="2.Swift")
        suzuki3.place(x=600,y=500)
        suzuki4=Label(t,text="3.Maruti")
        suzuki4.place(x=600,y=520)
        suzuki5=Label(t,text="4.Dzire")
        suzuki5.place(x=600,y=540)
        suzuki6=Label(t,text="5.Alto")
        suzuki6.place(x=600,y=560)
        
    elif company=='TOYATO':
        toyato1=Label(t,text="Model name in TOYATO\n we have only this model:",font="times 18")
        toyato1.place(x=600,y=400)
        toyato2=Label(t,text="1.Century")
        toyato2.place(x=600,y=480)
        toyato3=Label(t,text="2.Crown")
        toyato3.place(x=600,y=500)
        toyato4=Label(t,text="3.Premio")
        toyato4.place(x=600,y=520)
        toyato5=Label(t,text="4.Alion")
        toyato5.place(x=600,y=540)
        
        
    elif company=='AUDI':
        audi1=Label(t,text="Model name in AUDI\n we have only this model:",font="times 18")
        audi1.place(x=600,y=400)
        audi2=Label(t,text="1.S4")
        audi2.place(x=600,y=480)
        audi3=Label(t,text="2.SUVE")
        audi3.place(x=600,y=500)
        audi4=Label(t,text="3.A8")
        audi4.place(x=600,y=520)
        audi5=Label(t,text="4.A4")
        audi5.place(x=600,y=540)
        
        
    
    else:
        aNOTHER=Label(t,text="----INVALID COMPANY NAME----",font="times 18")
        aNOTHER.place(x=600,y=400)
    
    
    
    

def calculate():
    total_cost=0
    company=e1.get()
    model=e2.get()
    engine=e3.get()
    gear=e4.get()
    year=e5.get()
    km=e6.get()
    milege=e7.get()
    #TATA company calculate price by their features
    if company=='TATA':
    
      if model=='Tata Nexon':
        total_cost=300000
        if engine=='1000cc':
            total_cost=total_cost+100000
        elif engine=='2000cc':
            total_cost=total_cost+105500
        
        else:
            etn=Label(t,text="Ebgine version is wrong")
            etn.place(x=100,y=630)
        if gear=='5':
            total_cost=total_cost+15000
        else:
            gtatanexon=Label(t,text=" only five gear")
            gtatanexon.place(x=100,y=630)
        if year=='2015':
             total_cost=total_cost+10000
        elif year=='2016':
             total_cost=total_cost+14000
    
        elif year=='2017':
             total_cost=total_cost+17000
        elif year=='2018':
             total_cost=total_cost+18000
                
        elif year=='2019':
             total_cost=total_cost+19000
                    
        elif year=='2020':
             total_cost=total_cost+22000
        
        else:
            gtatanexon=Label(t,text=" Tata nexon realise in 2016  ")
            gtatanexon.place(x=100,y=630)
        
        if km>='0'and km<='100000':
            total_cost=total_cost+10000
        elif km>='100001'and km<='300000':
            total_cost=total_cost+9000
            
        elif km>='300001'and km<='600000':
            total_icost=total_cost+8000
            
        else:
            total_cost=total_cost+5000
        
        if milege<='12':
            total_cost=total_cost+10000
        elif milege>='13'and milege<='18':
            total_cost=total_cost+13000
        elif milege>='23'and milege<='27':
            total_cost=total_cost+19000
            
        elif milege>='32'and milege<='38':
            total_icost=total_cost+28000
            
        else:
            milegetatanexon=Label(t,text=" limited milege is 38 ")
            milegetatanexon.place(x=100,y=630)
            
      elif model=='Tata Tiago':
        total_cost=500000
        if engine=='1000cc':
            total_cost=total_cost+120000
        elif engine=='1500cc':
            total_cost=total_cost+155500
        elif engine=='2000cc':
            total_cost=total_cost+180000
        
        else:
            etn=Label(t,text="Engine version is wrong")
            etn.place(x=100,y=630)
        if gear=='5':
            total_cost=total_cost+16000
        elif gear=='6':
            total_cost=total_cost+19000
            
        else:
            gtatanexon=Label(t,text=" only five and six gear is having this car")
            gtatanexon.place(x=100,y=630)
        if year=='2016':
             total_cost=total_cost+15000
        elif year=='2017':
             total_cost=total_cost+20000
    
        elif year=='2018':
             total_cost=total_cost+28000
        elif year=='2019':
             total_cost=total_cost+40000
                
        elif year=='2020':
             total_cost=total_cost+50000
                    
       
        
        else:
            gtatanexon=Label(t,text=" Tata Tiago realise in 2016  ")
            gtatanexon.place(x=100,y=630)
        
        if km>='0'and km<='100000':
            total_cost=total_cost+101000
        elif km>='100001'and km<='300000':
            total_cost=total_cost+70000
            
        elif km>='300001'and km<='600000':
            total_icost=total_cost+50000
            
        else:
            total_cost=total_cost+37000
        
        if milege<='10':
            total_cost=total_cost+11000
        elif milege>='11'and milege<='15':
            total_cost=total_cost+13000
        elif milege>='16'and milege<='22':
            total_cost=total_cost+19000
            
        elif milege>='23'and milege<='30':
            total_icost=total_cost+28000
            
        else:
            
            
            milegetatanexon=Label(t,text=" limited milege is 30 ")
            milegetatanexon.place(x=100,y=630)
      
      elif model=='Tata Altroz':
        total_cost=800000
        if engine=='1500cc':
            total_cost=total_cost+120000
        elif engine=='1700cc':
            total_cost=total_cost+155500
        elif engine=='2000cc':
            total_cost=total_cost+180000
        
        else:
            etn=Label(t,text="Engine version is wrong")
            etn.place(x=100,y=630)
        if gear=='5':
            total_cost=total_cost+16000
        elif gear=='6':
            total_cost=total_cost+19000
            
        else:
            gtatanexon=Label(t,text=" only five and six gear is having this car")
            gtatanexon.place(x=100,y=630)
        if year=='2016':
             total_cost=total_cost+18000
        elif year=='2017':
             total_cost=total_cost+20000
    
        elif year=='2018':
             total_cost=total_cost+28000
        elif year=='2019':
             total_cost=total_cost+40000
                
        elif year=='2020':
             total_cost=total_cost+50000
                    
       
        
        else:
            gtatanexon=Label(t,text=" Tata Altroz realise in 2016  ")
            gtatanexon.place(x=100,y=630)
        
        if km>='0'and km<='100000':
            total_cost=total_cost+111000
        elif km>='100001'and km<='300000':
            total_cost=total_cost+78000
            
        elif km>='300001'and km<='600000':
            total_icost=total_cost+54000
            
        else:
            total_cost=total_cost+37400
        
        if milege<='10':
            total_cost=total_cost+19000
        elif milege>='11'and milege<='15':
            total_cost=total_cost+20000
        elif milege>='16'and milege<='22':
            total_cost=total_cost+29000
            
        elif milege>='23'and milege<='30':
            total_icost=total_cost+38000
            
        else:
            milegetatanexon=Label(t,text=" limited milege is 30 ")
            milegetatanexon.place(x=100,y=630)
      
      elif model=='Tata  Harrier':
        total_cost=880000
        if engine=='1500cc':
            total_cost=total_cost+120000
        elif engine=='2000cc':
            total_cost=total_cost+155500
        elif engine=='2500cc':
            total_cost=total_cost+180000
        
        else:
            etn=Label(t,text="Engine version is wrong")
            etn.place(x=100,y=630)
        if gear=='5':
            total_cost=total_cost+16000
        elif gear=='6':
            total_cost=total_cost+19000
            
        else:
            gtatanexon=Label(t,text=" only five and six gear is having this car")
            gtatanexon.place(x=100,y=630)
        if year=='2014':
             total_cost=total_cost+18000
        
        elif year=='2015':
             total_cost=total_cost+20000
        elif year=='2016':
             total_cost=total_cost+20000
        
        elif year=='2017':
             total_cost=total_cost+20000
    
        elif year=='2018':
             total_cost=total_cost+28000
        elif year=='2019':
             total_cost=total_cost+40000
                
        elif year=='2020':
             total_cost=total_cost+50000
                    
       
        
        else:
            gtatanexon=Label(t,text=" Tata  Harrier realise in 2014  ")
            gtatanexon.place(x=100,y=630)
        
        if km>='0'and km<='100000':
            total_cost=total_cost+111000
        elif km>='100001'and km<='300000':
            total_cost=total_cost+78000
            
        elif km>='300001'and km<='600000':
            total_icost=total_cost+54000
            
        else:
            total_cost=total_cost+37400
        
        if milege<='10':
            total_cost=total_cost+19000
        elif milege>='11'and milege<='15':
            total_cost=total_cost+20000
        elif milege>='16'and milege<='22':
            total_cost=total_cost+29000
            
        elif milege>='23'and milege<='36':
            total_icost=total_cost+38000
            
        
        else:
            milegetatanexon=Label(t,text=" limited milege is 36 ")
            milegetatanexon.place(x=100,y=630)
            
       
      elif model=='Tata  Hexa':
        total_cost=1000000
        if engine=='1500cc':
            total_cost=total_cost+200000
        elif engine=='1800cc':
            total_cost=total_cost+255500
        elif engine=='2000cc':
            total_cost=total_cost+380000
        
        else:
            etn=Label(t,text="Engine version is wrong")
            etn.place(x=100,y=630)
        if gear=='5':
            total_cost=total_cost+76000
        elif gear=='6':
            total_cost=total_cost+99000
            
        else:
            gtatanexon=Label(t,text=" only five and six gear is having this car")
            gtatanexon.place(x=100,y=630)
        if year=='2016':
             total_cost=total_cost+18000
        
       
        elif year=='2017':
             total_cost=total_cost+20000
    
        elif year=='2018':
             total_cost=total_cost+28000
        elif year=='2019':
             total_cost=total_cost+40000
                
        elif year=='2020':
             total_cost=total_cost+50000
                    
       
        
        else:
            gtatanexon=Label(t,text=" Tata  Hexa realise in 2016 ")
            gtatanexon.place(x=100,y=630)
        
        if km>='0'and km<='100000':
            total_cost=total_cost+111000
        elif km>='100001'and km<='300000':
            total_cost=total_cost+78000
            
        elif km>='300001'and km<='600000':
            total_icost=total_cost+54000
            
        else:
            total_cost=total_cost+37400
        
        if milege<='10':
            total_cost=total_cost+19000
        elif milege>='11'and milege<='15':
            total_cost=total_cost+20000
        elif milege>='16'and milege<='22':
            total_cost=total_cost+29000
            
        elif milege>='23'and milege<='39':
            total_icost=total_cost+38000
            
        else:
            milegetatanexon=Label(t,text=" limited milege is 39 ")
            milegetatanexon.place(x=100,y=630)
                            
      
      else:
            tatamodlecom=Label(t,text=" we Have only following \n model which displayed")
            milegetatanexon.place(x=100,y=630)
    #HYUNDAI company data
    elif company=='HYUNDAI':
        
    
      if model=='Santro':
        total_cost=500000
        if engine=='1000cc':
            total_cost=total_cost+100000
        elif engine=='2000cc':
            total_cost=total_cost+105500
        
        else:
            etn=Label(t,text="Engine version is wrong")
            etn.place(x=100,y=630)
        if gear=='6':
            total_cost=total_cost+15000
        else:
            gtatanexon=Label(t,text=" only six gear")
            gtatanexon.place(x=100,y=630)
        if year=='2015':
             total_cost=total_cost+10000
        elif year=='2016':
             total_cost=total_cost+14000
    
        elif year=='2017':
             total_cost=total_cost+17000
        elif year=='2018':
             total_cost=total_cost+18000
                
        elif year=='2019':
             total_cost=total_cost+19000
                    
        elif year=='2020':
             total_cost=total_cost+22000
        
        else:
            gtatanexon=Label(t,text="   HYUNDAI Santro realise in 2016  ")
            gtatanexon.place(x=100,y=630)
        
        if km>='0'and km<='100000':
            total_cost=total_cost+10000
        elif km>='100001'and km<='300000':
            total_cost=total_cost+9000
            
        elif km>='300001'and km<='600000':
            total_icost=total_cost+8000
            
        else:
            total_cost=total_cost+5000
        
        if milege<='12':
            total_cost=total_cost+10000
        elif milege>='13'and milege<='18':
            total_cost=total_cost+13000
        elif milege>='23'and milege<='27':
            total_cost=total_cost+19000
            
        elif milege>='32'and milege<='38':
            total_icost=total_cost+28000
            
        else:
            milegetatanexon=Label(t,text=" limited milege is 38 ")
            milegetatanexon.place(x=100,y=630)
            
      elif model=='Verna':
        total_cost=900000
        if engine=='1000cc':
            total_cost=total_cost+140000
        elif engine=='1500cc':
            total_cost=total_cost+159500
        elif engine=='2000cc':
            total_cost=total_cost+280000
        
        else:
            etn=Label(t,text="Engine version is wrong")
            etn.place(x=100,y=630)
        if gear=='5':
            total_cost=total_cost+19000
        elif gear=='6':
            total_cost=total_cost+29000
            
        else:
            gtatanexon=Label(t,text=" only five and six gear is having this car")
            gtatanexon.place(x=100,y=630)
        if year=='2016':
             total_cost=total_cost+15009
        elif year=='2017':
             total_cost=total_cost+20008
    
        elif year=='2018':
             total_cost=total_cost+28900
        elif year=='2019':
             total_cost=total_cost+40000
                
        elif year=='2020':
             total_cost=total_cost+50000
                    
       
        
        else:
            gtatanexon=Label(t,text=" HYUNDAI Verna realise in 2016  ")
            gtatanexon.place(x=100,y=630)
        
        if km>='0'and km<='100000':
            total_cost=total_cost+61000
        elif km>='100001'and km<='300000':
            total_cost=total_cost+50000
            
        elif km>='300001'and km<='600000':
            total_icost=total_cost+49000
            
        else:
            total_cost=total_cost+38000
        
        if milege<='10':
            total_cost=total_cost+11000
        elif milege>='11'and milege<='15':
            total_cost=total_cost+13000
        elif milege>='16'and milege<='22':
            total_cost=total_cost+19000
            
        elif milege>='23'and milege<='37':
            total_icost=total_cost+28000
            
        else:
            
            
            milegetatanexon=Label(t,text=" limited milege is 37 ")
            milegetatanexon.place(x=100,y=630)
      
      elif model=='Kona':
        total_cost=850000
        if engine=='1500cc':
            total_cost=total_cost+120000
        elif engine=='2000cc':
            total_cost=total_cost+155500
        elif engine=='2500cc':
            total_cost=total_cost+200000
        
        else:
            etn=Label(t,text="Engine version is wrong")
            etn.place(x=100,y=630)
        if gear=='6':
            total_cost=total_cost+46000
        
            
        else:
            gtatanexon=Label(t,text=" only six gear is having this car")
            gtatanexon.place(x=100,y=630)
        if year=='2017':
             total_cost=total_cost+18000
        
    
        elif year=='2018':
             total_cost=total_cost+28000
        elif year=='2019':
             total_cost=total_cost+40000
                
        elif year=='2020':
             total_cost=total_cost+50000
                    
       
        
        else:
            gtatanexon=Label(t,text=" HYUNDAI Kona realise in 2017  ")
            gtatanexon.place(x=100,y=630)
        
        if km>='0'and km<='100000':
            total_cost=total_cost+51000
        elif km>='100001'and km<='300000':
            total_cost=total_cost+38000
            
        elif km>='300001'and km<='600000':
            total_icost=total_cost+34000
            
        else:
            total_cost=total_cost+27400
        
        if milege<='10':
            total_cost=total_cost+19000
        elif milege>='11'and milege<='15':
            total_cost=total_cost+20000
        elif milege>='16'and milege<='22':
            total_cost=total_cost+29000
            
        elif milege>='23'and milege<='30':
            total_icost=total_cost+38000
            
        else:
            milegetatanexon=Label(t,text=" limited milege is 30 ")
            milegetatanexon.place(x=100,y=630)
      
      elif model=='Auro':
        total_cost=1000000
        if engine=='1500cc':
            total_cost=total_cost+120000
        elif engine=='2000cc':
            total_cost=total_cost+155500
        elif engine=='2500cc':
            total_cost=total_cost+180000
        
        else:
            etn=Label(t,text="Engine version is wrong")
            etn.place(x=100,y=630)
        if gear=='4':
            total_cost=total_cost+16000
        elif gear=='5':
            total_cost=total_cost+19000
            
        else:
            gtatanexon=Label(t,text=" only five and four gear is having this car")
            gtatanexon.place(x=100,y=630)
        if year=='2013':
             total_cost=total_cost+18000
        elif year=='2014':
             total_cost=total_cost+20000
        elif year=='2015':
             total_cost=total_cost+20000
        elif year=='2016':
             total_cost=total_cost+20000
        
        elif year=='2017':
             total_cost=total_cost+20000
    
        elif year=='2018':
             total_cost=total_cost+28000
        elif year=='2019':
             total_cost=total_cost+40000
                
        elif year=='2020':
             total_cost=total_cost+50000
                    
       
        
        else:
            gtatanexon=Label(t,text="  HYUNDAI Auro realise in 2013  ")
            gtatanexon.place(x=100,y=630)
        
        if km>='0'and km<='100000':
            total_cost=total_cost+50000
        elif km>='100001'and km<='300000':
            total_cost=total_cost+40000
            
        elif km>='300001'and km<='600000':
            total_icost=total_cost+30000
            
        else:
            total_cost=total_cost+27400
        
        if milege<='10':
            total_cost=total_cost+19000
        elif milege>='11'and milege<='15':
            total_cost=total_cost+20000
        elif milege>='16'and milege<='22':
            total_cost=total_cost+29000
            
        elif milege>='23'and milege<='36':
            total_icost=total_cost+38000
            
        
        else:
            milegetatanexon=Label(t,text=" limited milege is 36 ")
            milegetatanexon.place(x=100,y=630)
            
       
      elif model=='Grand_io':
        total_cost=1100000
        if engine=='1500cc':
            total_cost=total_cost+200000
        elif engine=='1800cc':
            total_cost=total_cost+255500
        elif engine=='2000cc':
            total_cost=total_cost+380000
        
        else:
            etn=Label(t,text="Engine version is wrong")
            etn.place(x=100,y=630)
        if gear=='5':
            total_cost=total_cost+76000
        elif gear=='6':
            total_cost=total_cost+99000
            
        else:
            gtatanexon=Label(t,text=" only five and six gear is having this car")
            gtatanexon.place(x=100,y=630)
        if year=='2016':
             total_cost=total_cost+18000
        
       
        elif year=='2017':
             total_cost=total_cost+20000
    
        elif year=='2018':
             total_cost=total_cost+28000
        elif year=='2019':
             total_cost=total_cost+40000
                
        elif year=='2020':
             total_cost=total_cost+50000
                    
       
        
        else:
            gtatanexon=Label(t,text=" HYUNDAI  Grand_io  realise in 2016 ")
            gtatanexon.place(x=100,y=630)
        
        if km>='0'and km<='100000':
            total_cost=total_cost+111000
        elif km>='100001'and km<='300000':
            total_cost=total_cost+78000
            
        elif km>='300001'and km<='600000':
            total_icost=total_cost+54000
            
        else:
            total_cost=total_cost+37400
        
        if milege<='10':
            total_cost=total_cost+19000
        elif milege>='11'and milege<='15':
            total_cost=total_cost+20000
        elif milege>='16'and milege<='22':
            total_cost=total_cost+29000
            
        elif milege>='23'and milege<='39':
            total_icost=total_cost+38000
            
        else:
            milegetatanexon=Label(t,text=" limited milege is 39 ")
            milegetatanexon.place(x=100,y=630)
                            
      
      else:
            tatamodlecom=Label(t,text=" we Have only following \n model which displayed")
            milegetatanexon.place(x=100,y=630)
    
    #SUZUKI company data
    elif company=='SUZUKI':
        
    
      if model=='Vitara Brezza':
        total_cost=110000
        if engine=='1500cc':
            total_cost=total_cost+100000
        elif engine=='2000cc':
            total_cost=total_cost+105500
        
        else:
            etn=Label(t,text="Engine version is wrong")
            etn.place(x=100,y=630)
        if gear=='6':
            total_cost=total_cost+15000
        else:
            gtatanexon=Label(t,text=" only six gear")
            gtatanexon.place(x=100,y=630)
        if year=='2017':
             total_cost=total_cost+10000
        
        elif year=='2018':
             total_cost=total_cost+18000
                
        elif year=='2019':
             total_cost=total_cost+19000
                    
        elif year=='2020':
             total_cost=total_cost+22000
        
        else:
            gtatanexon=Label(t,text="   Vitara Brezza realise in 2017  ")
            gtatanexon.place(x=100,y=630)
        
        if km>='0'and km<='100000':
            total_cost=total_cost+10000
        elif km>='100001'and km<='300000':
            total_cost=total_cost+9000
            
        elif km>='300001'and km<='600000':
            total_icost=total_cost+8000
            
        else:
            total_cost=total_cost+5000
        
        if milege<='12':
            total_cost=total_cost+10000
        elif milege>='13'and milege<='18':
            total_cost=total_cost+13000
        elif milege>='23'and milege<='27':
            total_cost=total_cost+19000
            
        elif milege>='32'and milege<='38':
            total_icost=total_cost+28000
            
        else:
            milegetatanexon=Label(t,text=" limited milege is 38 ")
            milegetatanexon.place(x=100,y=630)
            
      elif model=='Swift':
        total_cost=900000
        if engine=='1000cc':
            total_cost=total_cost+140000
        elif engine=='1500cc':
            total_cost=total_cost+159500
        elif engine=='2000cc':
            total_cost=total_cost+280000
        
        else:
            etn=Label(t,text="Engine version is wrong")
            etn.place(x=100,y=630)
        if gear=='5':
            total_cost=total_cost+19000
        elif gear=='6':
            total_cost=total_cost+29000
            
        else:
            gtatanexon=Label(t,text=" only five and six gear is having this car")
            gtatanexon.place(x=100,y=630)
        if year=='2012':
             total_cost=total_cost+15009
        elif year=='2013':
             total_cost=total_cost+20008
        elif year=='2014':
             total_cost=total_cost+25008
                
                
        elif year=='2015':
             total_cost=total_cost+29008
        elif year=='2016':
             total_cost=total_cost+34008
        elif year=='2017':
             total_cost=total_cost+38008
    
        elif year=='2018':
             total_cost=total_cost+40900
        elif year=='2019':
             total_cost=total_cost+45000
                
        elif year=='2020':
             total_cost=total_cost+50000
                    
       
        
        else:
            gtatanexon=Label(t,text=" SUZUKI swift  realise in 2012  ")
            gtatanexon.place(x=100,y=630)
        
        if km>='0'and km<='100000':
            total_cost=total_cost+61000
        elif km>='100001'and km<='300000':
            total_cost=total_cost+50000
            
        elif km>='300001'and km<='600000':
            total_icost=total_cost+49000
            
        else:
            total_cost=total_cost+38000
        
        if milege<='10':
            total_cost=total_cost+11000
        elif milege>='11'and milege<='15':
            total_cost=total_cost+13000
        elif milege>='16'and milege<='22':
            total_cost=total_cost+19000
            
        elif milege>='23'and milege<='42':
            total_icost=total_cost+28000
            
        else:
            
            
            milegetatanexon=Label(t,text=" limited milege is 42 ")
            milegetatanexon.place(x=100,y=630)
      
      elif model=='Maruti':
        total_cost=300000
        if engine=='1500cc':
            total_cost=total_cost+12000
        elif engine=='2000cc':
            total_cost=total_cost+15550
       
        
        else:
            etn=Label(t,text="Engine version is wrong")
            etn.place(x=100,y=630)
        if gear=='4':
            total_cost=total_cost+46000
        
            
        else:
            gtatanexon=Label(t,text=" only four gear is having this car")
            gtatanexon.place(x=100,y=630)
        if year=='2010':
             total_cost=total_cost+1800
        elif year=='2011':
             total_cost=total_cost+2800
                
        elif year=='2012':
             total_cost=total_cost+28000
        elif year=='2013':
             total_cost=total_cost+28000
        elif year=='2014':
             total_cost=total_cost+2800
        elif year=='2016':
             total_cost=total_cost+2800
        elif year=='2017':
             total_cost=total_cost+2800
        
    
        elif year=='2018':
             total_cost=total_cost+2800
        elif year=='2019':
             total_cost=total_cost+4000
                
        elif year=='2020':
             total_cost=total_cost+5000
                    
       
        
        else:
            gtatanexon=Label(t,text=" Maruti Suzuki realise in 2010  ")
            gtatanexon.place(x=100,y=630)
        
        if km>='0'and km<='100000':
            total_cost=total_cost+51000
        elif km>='100001'and km<='300000':
            total_cost=total_cost+38000
            
        elif km>='300001'and km<='600000':
            total_icost=total_cost+34000
            
        else:
            total_cost=total_cost+27400
        
        if milege<='10':
            total_cost=total_cost+19000
        elif milege>='11'and milege<='15':
            total_cost=total_cost+20000
        elif milege>='16'and milege<='22':
            total_cost=total_cost+29000
            
        elif milege>='23'and milege<='30':
            total_icost=total_cost+38000
            
        else:
            milegetatanexon=Label(t,text=" limited milege is 30 ")
            milegetatanexon.place(x=100,y=630)
      
      elif model=='Dzire':
        total_cost=1000000
        if engine=='1500cc':
            total_cost=total_cost+120000
        elif engine=='2000cc':
            total_cost=total_cost+155500
        elif engine=='2500cc':
            total_cost=total_cost+180000
        
        else:
            etn=Label(t,text="Engine version is wrong")
            etn.place(x=100,y=630)
        if gear=='4':
            total_cost=total_cost+16000
        elif gear=='5':
            total_cost=total_cost+19000
            
        else:
            gtatanexon=Label(t,text=" only five and four gear is having this car")
            gtatanexon.place(x=100,y=630)
        if year=='2013':
             total_cost=total_cost+18000
        elif year=='2014':
             total_cost=total_cost+20000
        elif year=='2015':
             total_cost=total_cost+20000
        elif year=='2016':
             total_cost=total_cost+20000
        
        elif year=='2017':
             total_cost=total_cost+20000
    
        elif year=='2018':
             total_cost=total_cost+28000
        elif year=='2019':
             total_cost=total_cost+40000
                
        elif year=='2020':
             total_cost=total_cost+50000
                    
       
        
        else:
            gtatanexon=Label(t,text="  Dzire  realise in 2013  ")
            gtatanexon.place(x=100,y=630)
        
        if km>='0'and km<='100000':
            total_cost=total_cost+50000
        elif km>='100001'and km<='300000':
            total_cost=total_cost+40000
            
        elif km>='300001'and km<='600000':
            total_icost=total_cost+30000
            
        else:
            total_cost=total_cost+27400
        
        if milege<='10':
            total_cost=total_cost+19000
        elif milege>='11'and milege<='15':
            total_cost=total_cost+20000
        elif milege>='16'and milege<='22':
            total_cost=total_cost+29000
            
        elif milege>='23'and milege<='36':
            total_icost=total_cost+38000
            
        
        else:
            milegetatanexon=Label(t,text=" limited milege is 36 ")
            milegetatanexon.place(x=100,y=630)
            
       
      elif model=='Alto':
        total_cost=100000
        if engine=='1500cc':
            total_cost=total_cost+20000
        
        else:
            etn=Label(t,text="Engine version is wrong")
            etn.place(x=100,y=630)
        if gear=='4':
            total_cost=total_cost+7600
        
            
        else:
            gtatanexon=Label(t,text=" only four gear is having this car")
            gtatanexon.place(x=100,y=630)
        if year=='2016':
             total_cost=total_cost+1000
        
       
        elif year=='2017':
             total_cost=total_cost+2000
    
        elif year=='2018':
             total_cost=total_cost+2800
        elif year=='2019':
             total_cost=total_cost+4000
                
        elif year=='2020':
             total_cost=total_cost+5000
                    
       
        
        else:
            gtatanexon=Label(t,text=" Alto  realise in 2016 ")
            gtatanexon.place(x=100,y=630)
        
        if km>='0'and km<='100000':
            total_cost=total_cost+11100
        elif km>='100001'and km<='300000':
            total_cost=total_cost+7800
            
        elif km>='300001'and km<='600000':
            total_icost=total_cost+5400
            
        else:
            total_cost=total_cost+3740
        
        if milege<='10':
            total_cost=total_cost+1900
        elif milege>='11'and milege<='15':
            total_cost=total_cost+2000
        elif milege>='16'and milege<='22':
            total_cost=total_cost+2900
            
        elif milege>='23'and milege<='39':
            total_icost=total_cost+3800
            
        else:
            milegetatanexon=Label(t,text=" limited milege is 39 ")
            milegetatanexon.place(x=100,y=630)
                            
      
      else:
            tatamodlecom=Label(t,text=" we Have only following \n model which displayed")
            milegetatanexon.place(x=100,y=630)
            
    #TOYATO company data
    elif company=='TOYATO':
        
    
      if model=='Century':
        total_cost=500000
        if engine=='1000cc':
            total_cost=total_cost+100000
        elif engine=='2000cc':
            total_cost=total_cost+105500
        
        else:
            etn=Label(t,text="Engine version is wrong")
            etn.place(x=100,y=630)
        if gear=='6':
            total_cost=total_cost+15000
        else:
            gtatanexon=Label(t,text=" only six gear")
            gtatanexon.place(x=100,y=630)
        if year=='2015':
             total_cost=total_cost+10000
        elif year=='2016':
             total_cost=total_cost+14000
    
        elif year=='2017':
             total_cost=total_cost+17000
        elif year=='2018':
             total_cost=total_cost+18000
                
        elif year=='2019':
             total_cost=total_cost+19000
                    
        elif year=='2020':
             total_cost=total_cost+22000
        
        else:
            gtatanexon=Label(t,text="   Century realise in 2016  ")
            gtatanexon.place(x=100,y=630)
        
        if km>='0'and km<='100000':
            total_cost=total_cost+10000
        elif km>='100001'and km<='300000':
            total_cost=total_cost+9000
            
        elif km>='300001'and km<='600000':
            total_icost=total_cost+8000
            
        else:
            total_cost=total_cost+5000
        
        if milege<='12':
            total_cost=total_cost+10000
        elif milege>='13'and milege<='18':
            total_cost=total_cost+13000
        elif milege>='23'and milege<='27':
            total_cost=total_cost+19000
            
        elif milege>='32'and milege<='38':
            total_icost=total_cost+28000
            
        else:
            milegetatanexon=Label(t,text=" limited milege is 38 ")
            milegetatanexon.place(x=100,y=630)
            
      elif model=='Crown':
        total_cost=900000
        if engine=='1000cc':
            total_cost=total_cost+140000
        elif engine=='1500cc':
            total_cost=total_cost+159500
        elif engine=='2000cc':
            total_cost=total_cost+280000
        
        else:
            etn=Label(t,text="Engine version is wrong")
            etn.place(x=100,y=630)
        if gear=='5':
            total_cost=total_cost+19000
        elif gear=='6':
            total_cost=total_cost+29000
            
        else:
            gtatanexon=Label(t,text=" only five and six gear is having this car")
            gtatanexon.place(x=100,y=630)
        if year=='2016':
             total_cost=total_cost+15009
        elif year=='2017':
             total_cost=total_cost+20008
    
        elif year=='2018':
             total_cost=total_cost+28900
        elif year=='2019':
             total_cost=total_cost+40000
                
        elif year=='2020':
             total_cost=total_cost+50000
                    
       
        
        else:
            gtatanexon=Label(t,text=" Crown realise in 2016  ")
            gtatanexon.place(x=100,y=630)
        
        if km>='0'and km<='100000':
            total_cost=total_cost+61000
        elif km>='100001'and km<='300000':
            total_cost=total_cost+50000
            
        elif km>='300001'and km<='600000':
            total_icost=total_cost+49000
            
        else:
            total_cost=total_cost+38000
        
        if milege<='10':
            total_cost=total_cost+11000
        elif milege>='11'and milege<='15':
            total_cost=total_cost+13000
        elif milege>='16'and milege<='22':
            total_cost=total_cost+19000
            
        elif milege>='23'and milege<='37':
            total_icost=total_cost+28000
            
        else:
            
            
            milegetatanexon=Label(t,text=" limited milege is 37 ")
            milegetatanexon.place(x=100,y=630)
      
      elif model=='Premio':
        total_cost=850000
        if engine=='1500cc':
            total_cost=total_cost+120000
        elif engine=='2000cc':
            total_cost=total_cost+155500
        elif engine=='2500cc':
            total_cost=total_cost+200000
        
        else:
            etn=Label(t,text="Engine version is wrong")
            etn.place(x=100,y=630)
        if gear=='6':
            total_cost=total_cost+46000
        
            
        else:
            gtatanexon=Label(t,text=" only six gear is having this car")
            gtatanexon.place(x=100,y=630)
        if year=='2017':
             total_cost=total_cost+18000
        
    
        elif year=='2018':
             total_cost=total_cost+28000
        elif year=='2019':
             total_cost=total_cost+40000
                
        elif year=='2020':
             total_cost=total_cost+50000
                    
       
        
        else:
            gtatanexon=Label(t,text=" Premio realise in 2017  ")
            gtatanexon.place(x=100,y=630)
        
        if km>='0'and km<='100000':
            total_cost=total_cost+51000
        elif km>='100001'and km<='300000':
            total_cost=total_cost+38000
            
        elif km>='300001'and km<='600000':
            total_icost=total_cost+34000
            
        else:
            total_cost=total_cost+27400
        
        if milege<='10':
            total_cost=total_cost+19000
        elif milege>='11'and milege<='15':
            total_cost=total_cost+20000
        elif milege>='16'and milege<='22':
            total_cost=total_cost+29000
            
        elif milege>='23'and milege<='30':
            total_icost=total_cost+38000
            
        else:
            milegetatanexon=Label(t,text=" limited milege is 30 ")
            milegetatanexon.place(x=100,y=630)
      
      elif model=='Alion':
        total_cost=1000000
        if engine=='1500cc':
            total_cost=total_cost+120000
        elif engine=='2000cc':
            total_cost=total_cost+155500
        elif engine=='2500cc':
            total_cost=total_cost+180000
        
        else:
            etn=Label(t,text="Engine version is wrong")
            etn.place(x=100,y=630)
        if gear=='4':
            total_cost=total_cost+16000
        elif gear=='5':
            total_cost=total_cost+19000
            
        else:
            gtatanexon=Label(t,text=" only five and four gear is having this car")
            gtatanexon.place(x=100,y=630)
        if year=='2013':
             total_cost=total_cost+18000
        elif year=='2014':
             total_cost=total_cost+20000
        elif year=='2015':
             total_cost=total_cost+20000
        elif year=='2016':
             total_cost=total_cost+20000
        
        elif year=='2017':
             total_cost=total_cost+20000
    
        elif year=='2018':
             total_cost=total_cost+28000
        elif year=='2019':
             total_cost=total_cost+40000
                
        elif year=='2020':
             total_cost=total_cost+50000
                    
       
        
        else:
            gtatanexon=Label(t,text="  Alion realise in 2013  ")
            gtatanexon.place(x=100,y=630)
        
        if km>='0'and km<='100000':
            total_cost=total_cost+50000
        elif km>='100001'and km<='300000':
            total_cost=total_cost+40000
            
        elif km>='300001'and km<='600000':
            total_icost=total_cost+30000
            
        else:
            total_cost=total_cost+27400
        
        if milege<='10':
            total_cost=total_cost+19000
        elif milege>='11'and milege<='15':
            total_cost=total_cost+20000
        elif milege>='16'and milege<='22':
            total_cost=total_cost+29000
            
        elif milege>='23'and milege<='36':
            total_icost=total_cost+38000
            
        
        else:
            milegetatanexon=Label(t,text=" limited milege is 36 ")
            milegetatanexon.place(x=100,y=630)
            
       
      
                            
      
      else:
            tatamodlecom=Label(t,text=" we Have only following \n model which displayed")
            milegetatanexon.place(x=100,y=630)
            
            
    #AUDI company data
    elif company=='AUDI':
        
    
      if model=='S4':
        total_cost=5000000
        if engine=='200cc':
            total_cost=total_cost+1000000
        elif engine=='2500cc':
            total_cost=total_cost+1055000
        
        else:
            etn=Label(t,text="Engine version is wrong")
            etn.place(x=100,y=630)
        if gear=='6':
            total_cost=total_cost+150000
        else:
            gtatanexon=Label(t,text=" only six gear")
            gtatanexon.place(x=100,y=630)
        if year=='2015':
             total_cost=total_cost+90000
        elif year=='2016':
             total_cost=total_cost+140000
    
        elif year=='2017':
             total_cost=total_cost+170000
        elif year=='2018':
             total_cost=total_cost+180000
                
        elif year=='2019':
             total_cost=total_cost+190000
                    
        elif year=='2020':
             total_cost=total_cost+220000
        
        else:
            gtatanexon=Label(t,text="   AUDI S4  realise in 2016  ")
            gtatanexon.place(x=100,y=630)
        
        if km>='0'and km<='100000':
            total_cost=total_cost+100000
        elif km>='100001'and km<='300000':
            total_cost=total_cost+90000
            
        elif km>='300001'and km<='600000':
            total_icost=total_cost+80000
            
        else:
            total_cost=total_cost+50000
        
        if milege<='12':
            total_cost=total_cost+10000
        elif milege>='13'and milege<='18':
            total_cost=total_cost+13000
        elif milege>='23'and milege<='25':
            total_cost=total_cost+19000
            
        elif milege>='26'and milege<='30':
            total_icost=total_cost+28000
            
        else:
            milegetatanexon=Label(t,text=" limited milege is 38 ")
            milegetatanexon.place(x=100,y=630)
            
      elif model=='SUVE':
        total_cost=6000000
        if engine=='1500cc':
            total_cost=total_cost+140000
        elif engine=='2500cc':
            total_cost=total_cost+159500
        elif engine=='3000cc':
            total_cost=total_cost+280000
        
        else:
            etn=Label(t,text="Engine version is wrong")
            etn.place(x=100,y=630)
        if gear=='5':
            total_cost=total_cost+190000
        elif gear=='6':
            total_cost=total_cost+290000
            
        else:
            gtatanexon=Label(t,text=" only five and six gear is having this car")
            gtatanexon.place(x=100,y=630)
        if year=='2016':
             total_cost=total_cost+150090
        elif year=='2017':
             total_cost=total_cost+200080
    
        elif year=='2018':
             total_cost=total_cost+289000
        elif year=='2019':
             total_cost=total_cost+400000
                
        elif year=='2020':
             total_cost=total_cost+500000
                    
       
        
        else:
            gtatanexon=Label(t,text=" AUDI SUVE realise in 2016  ")
            gtatanexon.place(x=100,y=630)
        
        if km>='0'and km<='100000':
            total_cost=total_cost+610000
        elif km>='100001'and km<='300000':
            total_cost=total_cost+500000
            
        elif km>='300001'and km<='600000':
            total_icost=total_cost+490000
            
        else:
            total_cost=total_cost+380000
        
        if milege<='10':
            total_cost=total_cost+110000
        elif milege>='11'and milege<='15':
            total_cost=total_cost+130000
        elif milege>='16'and milege<='20':
            total_cost=total_cost+190000
            
        elif milege>='21'and milege<='26':
            total_icost=total_cost+280000
            
        else:
            
            
            milegetatanexon=Label(t,text=" limited milege is 26")
            milegetatanexon.place(x=100,y=630)
      
      elif model=='A8':
        total_cost=8500000
        if engine=='1500cc':
            total_cost=total_cost+120000
        elif engine=='2000cc':
            total_cost=total_cost+155500
        elif engine=='3000cc':
            total_cost=total_cost+200000
        
        else:
            etn=Label(t,text="Engine version is wrong")
            etn.place(x=100,y=630)
        if gear=='6':
            total_cost=total_cost+460000
        
            
        else:
            gtatanexon=Label(t,text=" only six gear is having this car")
            gtatanexon.place(x=100,y=630)
        if year=='2017':
             total_cost=total_cost+180000
        
    
        elif year=='2018':
             total_cost=total_cost+280000
        elif year=='2019':
             total_cost=total_cost+400000
                
        elif year=='2020':
             total_cost=total_cost+500000
                    
       
        
        else:
            gtatanexon=Label(t,text=" A8 realise in 2017  ")
            gtatanexon.place(x=100,y=630)
        
        if km>='0'and km<='100000':
            total_cost=total_cost+510000
        elif km>='100001'and km<='300000':
            total_cost=total_cost+380000
            
        elif km>='300001'and km<='600000':
            total_icost=total_cost+340000
            
        else:
            total_cost=total_cost+274000
        
        if milege<='10':
            total_cost=total_cost+190000
        elif milege>='11'and milege<='15':
            total_cost=total_cost+200000
        elif milege>='16'and milege<='22':
            total_cost=total_cost+290000
            
        elif milege>='23'and milege<='30':
            total_icost=total_cost+380000
            
        else:
            milegetatanexon=Label(t,text=" limited milege is 30 ")
            milegetatanexon.place(x=100,y=630)
      
      elif model=='A4':
        total_cost=10000000
        if engine=='2500cc':
            total_cost=total_cost+1200000
        elif engine=='3000cc':
            total_cost=total_cost+1555000
        elif engine=='3500cc':
            total_cost=total_cost+1800000
        
        else:
            etn=Label(t,text="Engine version is wrong")
            etn.place(x=100,y=630)
        if gear=='6':
            total_cost=total_cost+16000
        elif gear=='7':
            total_cost=total_cost+19000
            
        else:
            gtatanexon=Label(t,text=" only six and seven gear is having this car")
            gtatanexon.place(x=100,y=630)
        if year=='2017':
             total_cost=total_cost+180000
       
        elif year=='2018':
             total_cost=total_cost+28000
        elif year=='2019':
             total_cost=total_cost+40000
                
        elif year=='2020':
             total_cost=total_cost+50000
                    
       
        
        else:
            gtatanexon=Label(t,text="  AUDI A4 realise in 2017  ")
            gtatanexon.place(x=100,y=630)
        
        if km>='0'and km<='100000':
            total_cost=total_cost+50000
        elif km>='100001'and km<='300000':
            total_cost=total_cost+40000
            
        elif km>='300001'and km<='600000':
            total_icost=total_cost+30000
            
        else:
            total_cost=total_cost+27400
        
        if milege<='10':
            total_cost=total_cost+19000
        elif milege>='11'and milege<='15':
            total_cost=total_cost+20000
        elif milege>='16'and milege<='22':
            total_cost=total_cost+29000
            
        elif milege>='23'and milege<='36':
            total_icost=total_cost+38000
            
        
        else:
            milegetatanexon=Label(t,text=" limited milege is 36 ")
            milegetatanexon.place(x=100,y=630)
            
       
      else:
            tatamodlecom=Label(t,text=" we Have only following \n model which displayed")
            milegetatanexon.place(x=100,y=630)
    
    
                        
 
      
                            
    
   
    nexon=Label(t,text=total_cost,font="times 18")
    nexon.place(x=100,y=550)
        
        
        
        
        
    

image=Image.open("car images/bgCar.jpg")
photo=ImageTk.PhotoImage(image)
        
        

title=Label(t,text="CAR DEKHO",anchor="center",fg="red",bg= "yellow")
title.config(font=("Courier", 50),width=200)
title.pack()

li=Label(t,text="We provide the car prize basis of what you want the features. \n It isthe best software for Price Estimation of Used Cars.")
li.config(font=("courier",18))
li.pack()

l1=Label(t,text="Enter the company name \n (write name in alphbetical):")
l1.place(x=30,y=180)
e1=Entry(t,width=20)
e1.place(x=30,y=220)

bcom=Button(t,text="show model",bg="cyan",command=companyname)
bcom.place(x=30,y=240)

l2=Label(t,text="Enter the model name:")
l2.place(x=30,y=290)
e2=Entry(t,width=20)
e2.place(x=30,y=310)

l3=Label(t,text="Engine type:")
l3.place(x=30,y=350)
e3=Entry(t,width=20)
e3.place(x=30,y=370)

l4=Label(t,text="no. of gear:")
l4.place(x=250,y=180)
e4=Entry(t,width=20)
e4.place(x=250,y=200)

l5=Label(t,text="Registeration year of car:")
l5.place(x=250,y=250)
e5=Entry(t,width=20)
e5.place(x=250,y=270)


l6=Label(t,text="kilometers travelling:")
l6.place(x=250,y=320)
e6=Entry(t,width=20)
e6.place(x=250,y=340)

l7=Label(t,text="Milege:")
l7.place(x=100,y=420)
e7=Entry(t,width=20)
e7.place(x=100,y=440)

b=Button(t,text="PRICE OF CAR",bg="yellow",command=calculate,)
b.place(x=100,y=490)

b1=Button(t,text="Exit",bg="pink",font="times 22",command=t.destroy)
b1.place(x=600,y=300)




t.mainloop()